*{
    box-sizing: border-box;
}
img {
    width: 100%;
}
body{
    min-height: 100%;
    line-height: .5;
}
button{
    background-color:#BF0603;
    color: white;
}




.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "Row1"
      "Row2"
      "Row3"
      "Row4"
      "Row5";
    grid-area: grid-container;
    background-color: #001427;
}



.Row1 {
    display: grid;
    grid-template-columns: 48% 4% 48%;
    grid-template-rows: 100%;
    gap: 0px 0px;
    grid-template-areas:
      "A1 A2 A3";
    grid-area: Row1;
}
.A1 {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "A1Outside A1Inside";
    grid-area: A1;
    margin-left: 20px;
}
.A1Outside {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 0px 0px;
    grid-template-areas:
      "A1Outside1"
      "A1Outside2";
    grid-area: A1Outside;
    text-align: center;
}
.A1Inside {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 0px 0px;
    grid-template-areas:
      "A1Inside1"
      "A1Inside2"
      "A1Inside3";
    grid-area: A1Inside;
    text-align: center;
}
.A1Outside1, .A1Outside2{
    background-color:#BF0603;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-size: 30px;
    padding: 20px;
    border: 1px solid black;
}
.A1Inside1, .A1Inside2, .A1Inside3{
    background-color: #F4D58D;
    font-family: 'Fjalla One', sans-serif;
    font-size: 24px;
    text-align: center;
    padding: 20px;
    border: 1px solid black;
}
.A1Inside2{
    clip-path: polygon(5% 0, 95% 0, 100% 50%, 95% 100%, 5% 100%, 0% 50%);
    background-color: white;
}
.A2 {
    grid-area: A2;
    background-color: #878E99;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.A3 {
    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "A3Inside A3Outside";
    grid-area: A3;
    margin-right: 20px;
}
.A3Inside {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 0px 0px;
    grid-template-areas:
      "A3Inside1"
      "A3Inside2"
      "A3Inside3";
    grid-area: A3Inside;
}
.A3Outside {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 0px 0px;
    grid-template-areas:
      "A3Outside1"
      "A3Outside2";
    grid-area: A3Outside;
    text-align: center;
}
.A3Outside1, .A3Outside2{
    background-color:#BF0603;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-size: 30px;
    padding: 20px;
    border: 1px solid black;
}
.A3Inside1, .A3Inside2, .A3Inside3{
    background-color: #F4D58D;
    font-family: 'Fjalla One', sans-serif;
    font-size: 24px;
    text-align: center;
    padding: 20px;
    border: 1px solid black;
}
.A3Inside2{
    clip-path: polygon(5% 0, 95% 0, 100% 50%, 95% 100%, 5% 100%, 0% 50%);
    background-color: white;
}


.Row2 {
    display: grid;
    grid-template-columns: 48% 4% 48%;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "B1 B2 B3";
    grid-area: Row2;
}
.B1 {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "B1Outside B1Inside";
    grid-area: B1;
    margin-left: 20px;
}
.B1Outside {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 0px 0px;
    grid-template-areas:
      "B1Outside1"
      "B1Outside2";
    grid-area: B1Outside;
    text-align: center;
}
.B1Inside {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 0px 0px;
    grid-template-areas:
      "B1Inside1"
      "B1Inside2"
      "B1Inside3";
    grid-area: B1Inside;
    text-align: center;
}
.B1Outside1, .B1Outside2{
    background-color:#BF0603;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-size: 30px;
    padding: 20px;
    border: 1px solid black;
}
.B1Inside1, .B1Inside2, .B1Inside3{
    background-color: #F4D58D;
    font-family: 'Fjalla One', sans-serif;
    font-size: 24px;
    text-align: center;
    padding: 20px;
    border: 1px solid black;
}
.B1Inside2{
    clip-path: polygon(5% 0, 95% 0, 100% 50%, 95% 100%, 5% 100%, 0% 50%);
    background-color: white;
}
.B2 {
    grid-area: B2;
    background-color: #878E99;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.B3 {
    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "B3Inside B3Outside";
    grid-area: B3;
    margin-right: 20px;
}
.B3Inside {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 0px 0px;
    grid-template-areas:
      "B3Inside1"
      "B3Inside2"
      "B3Inside3";
    grid-area: B3Inside;
}
.B3Outside {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 0px 0px;
    grid-template-areas:
      "B3Outside1"
      "B3Outside2";
    grid-area: B3Outside;
    text-align: center;
}
.B3Outside1, .B3Outside2{
    background-color:#BF0603;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-size: 30px;
    padding: 20px;
    border: 1px solid black;
}
.B3Inside1, .B3Inside2, .B3Inside3{
    background-color: #F4D58D;
    font-family: 'Fjalla One', sans-serif;
    font-size: 24px;
    text-align: center;
    padding: 20px;
    border: 1px solid black;
}
.B3Inside2{
    clip-path: polygon(5% 0, 95% 0, 100% 50%, 95% 100%, 5% 100%, 0% 50%);
    background-color: white;
}


.Row3 {
    display: grid;
    grid-template-columns: 48% 4% 48%;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "C1 C2 C3";
    grid-area: Row3;
}
.C1 {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "C1Outside C1Inside";
    grid-area: C1;
    margin-left: 20px;
}
.C1Outside {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 0px 0px;
    grid-template-areas:
      "C1Outside1"
      "C1Outside2";
    grid-area: C1Outside;
    text-align: center;
}
.C1Inside {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 0px 0px;
    grid-template-areas:
      "C1Inside1"
      "C1Inside2"
      "C1Inside3";
    grid-area: C1Inside;
    text-align: center;
}
.C1Outside1, .C1Outside2{
    background-color:#BF0603;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-size: 30px;
    padding: 20px;
    border: 1px solid black;
}
.C1Inside1, .C1Inside2, .C1Inside3{
    background-color: #F4D58D;
    font-family: 'Fjalla One', sans-serif;
    font-size: 24px;
    text-align: center;
    padding: 20px;
    border: 1px solid black;
}
.C1Inside2{
    clip-path: polygon(5% 0, 95% 0, 100% 50%, 95% 100%, 5% 100%, 0% 50%);
    background-color: white;
}
.C2 {
    grid-area: C2;
    background-color: #878E99;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.C3 {
    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "C3Inside C3Outside";
    grid-area: C3;
    margin-right: 20px;
}
.C3Inside {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 0px 0px;
    grid-template-areas:
      "C3Inside1"
      "C3Inside2"
      "C3Inside3";
    grid-area: C3Inside;
}
.C3Outside {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 0px 0px;
    grid-template-areas:
      "C3Outside1"
      "C3Outside2";
    grid-area: C3Outside;
    text-align: center;
}
.C3Outside1, .C3Outside2{
    background-color:#BF0603;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-size: 30px;
    padding: 20px;
    border: 1px solid black;
}
.C3Inside1, .C3Inside2, .C3Inside3{
    background-color: #F4D58D;
    font-family: 'Fjalla One', sans-serif;
    font-size: 24px;
    text-align: center;
    padding: 20px;
    border: 1px solid black;
}
.C3Inside2{
    clip-path: polygon(5% 0, 95% 0, 100% 50%, 95% 100%, 5% 100%, 0% 50%);
    background-color: white;
}


.Row4 {
    display: grid;
    grid-template-columns: 48% 4% 48%;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "D1 D2 D3";
    grid-area: Row4;
}
.D1 {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "D1Outside D1Inside";
    grid-area: D1;
    margin-left: 20px;
}
.D1Outside {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 0px 0px;
    grid-template-areas:
      "D1Outside1"
      "D1Outside2";
    grid-area: D1Outside;
    text-align: center;
}
.D1Inside {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 0px 0px;
    grid-template-areas:
      "D1Inside1"
      "D1Inside2"
      "D1Inside3";
    grid-area: D1Inside;
    text-align: center;
}
.D1Outside1, .D1Outside2{
    background-color:#BF0603;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-size: 30px;
    padding: 20px;
    border: 1px solid black;
}
.D1Inside1, .D1Inside2, .D1Inside3{
    background-color: #F4D58D;
    font-family: 'Fjalla One', sans-serif;
    font-size: 24px;
    text-align: center;
    padding: 20px;
    border: 1px solid black;
}
.D1Inside2{
    clip-path: polygon(5% 0, 95% 0, 100% 50%, 95% 100%, 5% 100%, 0% 50%);
    background-color: white;
}
.D2 {
    grid-area: D2;
    background-color: #878E99;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.D3 {
    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "D3Inside D3Outside";
    grid-area: D3;
    margin-right: 20px;
}
.D3Inside {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 0px 0px;
    grid-template-areas:
      "D3Inside1"
      "D3Inside2"
      "D3Inside3";
    grid-area: D3Inside;
}
.D3Outside {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 0px 0px;
    grid-template-areas:
      "D3Outside1"
      "D3Outside2";
    grid-area: D3Outside;
    text-align: center;
}
.D3Outside1, .D3Outside2{
    background-color:#BF0603;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-size: 30px;
    padding: 20px;
    border: 1px solid black;
}
.D3Inside1, .D3Inside2, .D3Inside3{
    background-color: #F4D58D;
    font-family: 'Fjalla One', sans-serif;
    font-size: 24px;
    text-align: center;
    padding: 20px;
    border: 1px solid black;
}
.D3Inside2{
    clip-path: polygon(5% 0, 95% 0, 100% 50%, 95% 100%, 5% 100%, 0% 50%);
    background-color: white;
}


.Row5 {
    display: grid;
    grid-template-columns: 48% 4% 48%;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "E1 E2 E3";
    grid-area: Row5;
}
.E1 {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "E1Outside E1Inside";
    grid-area: E1;
    margin-left: 20px;
}
.E1Outside {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 0px 0px;
    grid-template-areas:
      "E1Outside1"
      "E1Outside2";
    grid-area: E1Outside;
    text-align: center;
}
.E1Inside {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 0px 0px;
    grid-template-areas:
      "E1Inside1"
      "E1Inside2"
      "E1Inside3";
    grid-area: E1Inside;
    text-align: center;
}
.E1Outside1, .E1Outside2{
    background-color:#BF0603;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-size: 30px;
    padding: 20px;
    border: 1px solid black;
}
.E1Inside1, .E1Inside2, .E1Inside3{
    background-color: #F4D58D;
    font-family: 'Fjalla One', sans-serif;
    font-size: 24px;
    text-align: center;
    padding: 20px;
    border: 1px solid black;
}
.E1Inside2{
    clip-path: polygon(5% 0, 95% 0, 100% 50%, 95% 100%, 5% 100%, 0% 50%);
    background-color: white;
}
.E2 {
    grid-area: E2;
    background-color: #878E99;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.E3 {
    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "E3Inside E3Outside";
    grid-area: E3;
    margin-right: 20px;
}
.E3Inside {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 0px 0px;
    grid-template-areas:
      "E3Inside1"
      "E3Inside2"
      "E3Inside3";
    grid-area: E3Inside;
}
.E3Outside {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 0px 0px;
    grid-template-areas:
      "E3Outside1"
      "E3Outside2";
    grid-area: E3Outside;
    text-align: center;
}
.E3Outside1, .E3Outside2{
    background-color:#BF0603;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-size: 30px;
    padding: 20px;
    border: 1px solid black;
}
.E3Inside1, .E3Inside2, .E3Inside3{
    background-color: #F4D58D;
    font-family: 'Fjalla One', sans-serif;
    font-size: 24px;
    text-align: center;
    padding: 20px;
    border: 1px solid black;
}
.E3Inside2{
    clip-path: polygon(5% 0, 95% 0, 100% 50%, 95% 100%, 5% 100%, 0% 50%);
    background-color: white;
}





.Footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
    gap: 0px 0px;
    grid-template-areas:
      "FooterLeft FooterMiddle FooterRight";
    grid-area: Footer;
    padding: 5px;
    background-color: #001427;
}
.FooterLeft{
    margin: auto 10px;
    background-color: #BF0603; 
    border-radius: 5%;
}
.Instructions{
      margin: auto 60px;
      color: white;
}
.FooterMiddle{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "FooterMiddleTop"
      "FooterMiddleBottom";
    grid-area: FooterMiddle;
    text-align: center;
}
button{
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    margin: 5px;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
}
button{
    height: 40px;
    width: 40px; 
    background: #BF0603;
    color: #fff;
    box-shadow: 0 6px #ab3c3c;
    border: solid 1px black;
}
.button-push:active{
    box-shadow: 0 0 #ab3c3c;
    top: 6px;
}
.button{
    box-shadow: 0 0 #ab3c3c;
    top: 6px;
}
.fas{
    font-size: 15px;
}
.FooterRight{
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "FooterRightLeft FooterRightRight ";
    grid-area: FooterRight;
    text-align: center;
    margin: auto 10px;
}
.FooterRightLeft{
    background-color: #001427;
}
.FooterRightRight{
    height: 100%;
    width: 100%; 
    background-color:  #878E99;
    z-index: 1;
}
.WhatsPlaying{
    height: 100%;
    width: 100%; 
    background-color: white;
    border: solid 2px black;
    border-radius: 10%;
    text-align: center;
    font-size: 30;
    line-height: 1.1 !important;
}
.playing, .selection{
    color: black;
    font-size: 22px;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
}
#NowPlaying{
    font-weight: 700;
}






.gizmo{
    width: 1.4em;
    height: 5.2em;
    position: relative;
    cursor: pointer;
    margin: 5px auto;
}
.slot{
    height: 4.6em;
    width: 1em;
    background: #555;
    border: 0.2em solid #CCC;
    border-radius: 0.3em;
    position: relative;
}
.slot:after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    background: #777;
    border-radius: 0.3em 0 0.2em 0;
    width: 0.6em;
    height: 4em;
}
.gizmo:hover .coin{
    opacity: 1.0;
    margin-left: 0;
}
.coin{
    position: relative;
    top: -4.3em;
    left: -1.9em;
    width: 2.5em;
    height: 4em;
    border-radius: 50%;
    background: #e79178;
    transition: all 0.3s ease;
    margin-left: -50em;
    opacity: 0.0; 
}
.coin:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0.5em;
    width: 2.5em;
    height: 4em;
    border-radius: 50%;
    background: #cb6d51;
}
.coin:before{
    content: '';
    position: absolute;
    top: 0;
    left: 1.25em;
    width: 0.5em;
    height: 4em;
    background: #e79178;
}
.coin.active{  
    opacity: 1.0;
    transition: all 1.5s ease;
    margin-top: 1em !important;
    margin-left: 4em !important;
}
.mask-right {
    position: absolute;
    bottom: 0;
    left: 1em;
    height: 80px;
    width: 40px;
    background-color: #001427;
}
/* .mask-bottom {
    position: absolute;
    top: 8.2em;
    left: -5em;
    height: 5em;
    width: 10em;
    background: #fff;
} */

