*{
    box-sizing: border-box;
}
img {
    width: 100%;
}
body{
    min-height: 100%;
}
.grid-container {
    display: grid;
    grid-template-columns: 48% 4% 48%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "A1 A2 A3"
      "B1 B2 B3"
      "C1 C2 C3"
      "D1 D2 D3"
      "E1 E2 E3";
}
.A1 {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "a1 a2"
      "a3 a4";
    grid-area: A1;
    background-color: #F4D58D;
    padding: 20px;
}
.a1, .a2, .a3, .a4{padding: 20px; border: 1px solid black;}
.a1, .a3 {
    background-color:#BF0603;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-size: 24px;
}
.a2, .a4 {
    background-color: #EBE4D4;
}
.A2 {
    grid-area: A2;
    background-color: #878E99;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.A3 {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "a5 a6"
      "a7 a8";
    grid-area: A3;
    background-color: #F4D58D;
    padding: 20px;
}
.a5, .a6, .a7, .a8{padding: 20px; border: 1px solid black;}
.a5, .a7 {
    background-color:#BF0603;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-size: 24px;
}
.a6, .a8 {
    background-color: #EBE4D4;
}
.B1 {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "b1 b2"
      "b3 b4";
    grid-area: B1;
    background-color:#F4D58D;
    padding: 20px;
}
.b1, .b2, .b3, .b4{padding: 20px; border: 1px solid black;}
.b1, .b3 {
    background-color:#BF0603;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-size: 24px;
}
.b2, .b4 {
    background-color: #EBE4D4;
}
.B2 {
    grid-area: B2;
    background-color: #878E99;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.B3 {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "b5 b6"
      "b7 b8";
    grid-area: B3;
    background-color: #F4D58D;
;
    padding: 20px;
}
.b5, .b6, .b7, .b8{padding: 20px; border: 1px solid black;}
.b5, .b7 {
    background-color:#BF0603;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-size: 24px;
}
.b6, .b8 {
    background-color: #EBE4D4;
}
.C1 {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "c1 c2"
      "c3 c4";
    grid-area: C1;
    background-color:#F4D58D;
    padding: 20px;
}
.c1, .c2, .c3, .c4{padding: 20px; border: 1px solid black;}
.c1, .c3 {
    background-color:#BF0603;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-size: 24px;
}
.c2, .c4 {
    background-color: #EBE4D4;
}
.C2 {
    grid-area: C2;
    background-color: #878E99;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.C3 {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "c5 c6"
      "c7 c8";
    grid-area: C3;
    background-color:#F4D58D;
    padding: 20px;
}
.c5, .c6, .c7, .c8{padding: 20px; border: 1px solid black;}
.c5, .c7 {
    background-color:#BF0603;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-size: 24px;
}
.c6, .c8 {
    background-color: #EBE4D4;
}
.D1 {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "d1 d2"
      "d3 d4";
    grid-area: D1;
    background-color:#F4D58D;
    padding: 20px;
}
.d1, .d2, .d3, .d4{padding: 20px; border: 1px solid black;}
.d1, .d3 {
    background-color:#BF0603;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-size: 24px;
}
.d2, .d4 {
    background-color: #EBE4D4;
}
.D2 {
    grid-area: D2;
    background-color: #878E99;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.D3 {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "d5 d6"
      "d7 d8";
    grid-area: D3;
    background-color:#F4D58D;
    padding: 20px;
}
.d5, .d6, .d7, .d8{padding: 20px; border: 1px solid black;}
.d5, .d7 {
    background-color:#BF0603;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-size: 24px;
}
.d6, .d8 {
    background-color: #EBE4D4;
}
.E1 {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "e1 e2"
      "e3 e4";
    grid-area: E1;
    background-color:#F4D58D;
    padding: 20px;
}
.e1, .e2, .e3, .e4{padding: 20px; border: 1px solid black;}
.e1, .e3 {
    background-color:#BF0603;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-size: 24px;
}
.e2, .e4 {
    background-color: #EBE4D4;
}
.E2 {
    grid-area: E2;
    background-color: #878E99;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.E3 {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "e5 e6"
      "e7 e8";
    grid-area: E3;
    background-color:#F4D58D;
    padding: 20px;
}
.e5, .e6, .e7, .e8{padding: 20px; border: 1px solid black;}
.e5, .e7 {
    background-color:#BF0603;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-size: 24px;
}
.e6, .e8 {
    background-color: #EBE4D4;
}

  